### Data cleaning of Cafe Sales Dataset using pandas

In [2]:
import pandas as pd   # importing library

In [18]:
df = pd.read_excel("cafe_sales1.xlsx")     # reading excel workbook using pandas

In [19]:
df.head()    #Showing  first few rows

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Month of Transaction,Year of Transaction
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,2023-09-08 00:00:00,9.0,2023.0
1,TXN_4977031,Cake,4,3,12,Cash,In-store,2023-05-16 00:00:00,5.0,2023.0
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,2023-07-19 00:00:00,7.0,2023.0
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,2023-04-27 00:00:00,4.0,2023.0
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,2023-06-11 00:00:00,6.0,2023.0

In [20]:
df.shape

(10000, 10)

In [21]:
df.dtypes     # Checking for data types of features

Transaction ID            object
Item                      object
Quantity                  object
Price Per Unit            object
Total Spent               object
Payment Method            object
Location                  object
Transaction Date          object
Month of Transaction     float64
Year of Transaction      float64
dtype: object

In [22]:
df.isnull().sum()     # checking for Null Values

Transaction ID              0
Item                      333
Quantity                  138
Price Per Unit            179
Total Spent               173
Payment Method           2579
Location                 3265
Transaction Date          159
Month of Transaction      301
Year of Transaction       303
dtype: int64

In [23]:
df.drop(['Payment Method','Location'], axis = 1, inplace = True)       # drop column

In [24]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Transaction Date,Month of Transaction,Year of Transaction
0,TXN_1961373,Coffee,2,2,4,2023-09-08 00:00:00,9.0,2023.0
1,TXN_4977031,Cake,4,3,12,2023-05-16 00:00:00,5.0,2023.0
2,TXN_4271903,Cookie,4,1,ERROR,2023-07-19 00:00:00,7.0,2023.0
3,TXN_7034554,Salad,2,5,10,2023-04-27 00:00:00,4.0,2023.0
4,TXN_3160411,Coffee,2,2,4,2023-06-11 00:00:00,6.0,2023.0

In [27]:
df['Item'].mode()

0    Juice
Name: Item, dtype: object

In [ ]:
# imputing column with mode value

In [29]:
df['Item'] = df['Item'].fillna(df['Item'].mode()[0])

In [30]:
df["Quantity"] = df['Quantity'].fillna(df["Quantity"].mode()[0])

In [31]:
df["Price Per Unit"] = df['Price Per Unit'].fillna(df["Price Per Unit"].mode()[0])

In [32]:
df["Total Spent"] = df['Total Spent'].fillna(df["Total Spent"].mode()[0])

In [33]:
df["Transaction Date"] = df['Transaction Date'].fillna(df["Transaction Date"].mode()[0])

In [34]:
df.isnull().sum()

Transaction ID             0
Item                       0
Quantity                   0
Price Per Unit             0
Total Spent                0
Transaction Date           0
Month of Transaction     301
Year of Transaction      303
dtype: int64

In [35]:
df.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Transaction Date,Month of Transaction,Year of Transaction
0,TXN_1961373,Coffee,2,2,4,2023-09-08 00:00:00,9.0,2023.0
1,TXN_4977031,Cake,4,3,12,2023-05-16 00:00:00,5.0,2023.0
2,TXN_4271903,Cookie,4,1,ERROR,2023-07-19 00:00:00,7.0,2023.0
3,TXN_7034554,Salad,2,5,10,2023-04-27 00:00:00,4.0,2023.0
4,TXN_3160411,Coffee,2,2,4,2023-06-11 00:00:00,6.0,2023.0
5,TXN_2602893,Smoothie,5,4,20,2023-03-31 00:00:00,3.0,2023.0
6,TXN_4433211,UNKNOWN,3,3,9,2023-10-06 00:00:00,10.0,2023.0
7,TXN_6699534,Sandwich,4,4,16,2023-10-28 00:00:00,10.0,2023.0
8,TXN_4717867,Juice,5,3,15,2023-07-28 00:00:00,7.0,2023.0
9,TXN_2064365,Sandwich,5,4,20,2023-12-31 00:00:00,12.0,2023.0